html {
	background-color: #1A2D34;
}

.fondDeConnexion{
	width: 100%;
	height: 1;
	background-color: #1A2D34;
}

.loginBox{
	width: 320px;
	height: 450px;
	background: #FFF;
	color: #F90F7A;
	top: 50%;
	left: 50%;
	position: absolute;
	transform: translate(-50%,-50%);
	box-sizing: border-box;
	padding: 70px 30px;
	border-radius: 5px;
	box-shadow: 10px 5px 5px black;
}
.avatar{
	width: 100px;
	height: 100px;
	border-radius: 50%;
	position: absolute;
	top: -10%;
	left: 35%;
}

h1{
	margin: 0;
	padding: 0 0 20px;
	text-align: center;
	font-size: 22px;
	color: #1A2D34;	
}

.loginBox p{
	margin: 0;
	padding: 0;
	font-weight: bold;
}
.loginBox input{
	width: 100%;
	margin-bottom: 20px;
}

.loginBox input[type="text"], input[type="password"]{
	border: none;
	border-bottom: 1px solid #F90F7A;
	background: transparent;
	outline: none;
	height: 40px;
	color: #000;
	font-size: 16px;
}

.loginBox input[type="submit"]{
	border: none;
	outline: none;
	height: 40px;
	background: #1A2D34;
	color: #FFF;
	font-size: 18px;
	border-radius: 20px;
}
.loginBox input[type="submit"]:hover{
	cursor: pointer;
	background: lightgrey;
	color: #000;
}

.loginBox a{
	text-decoration: none;
	font-size: 12px;
	line-height: 20px;
	color: darkgrey;
}
.loginBox a:hover{
	color: #FB2525;
}