/* GENERAL */

p {
    font-size: 15px;
}

body {
    background-color: #eee;
}

.roselq {
    color: #F90F7A;
}

/* NAVBAR */

.navbar-light .navbar-brand {
    color: #F90F7A;
}

.navbar-light .navbar-nav .nav-link {
    color: black;
}

/* TOAST */

.container > .toast {
    max-width: none;
}

/* BUTTON */

.rosebutton {
    background-color: #F90F7A;
    color: #fff;
}
