body{
	margin: 0;
	padding: 0;
	background: url(fond.jpg) no-repeat center fixed;
	background-size: cover;
	background-position: center;
}
.formBox{
	width: 480px;
	height: 500px;
	position: relative;
	margin: 6% auto;
	background: #FFF;
	padding: 5px;
}
.buttonBox{
	width: 280px;
	height: 35px auto;
	position: relative;box-shadow: 0 0 20px 9px #FF61241F;
	border-radius: 30px;
}
.toggle-btn{
	padding: 10px 30px;
	cursor: pointer;
	background: transparent;
	border: 0;
	outline: none;
	position: relative;
}
#btn{
	top: 0;
	left: 0;
	position: absolute;
	width: 140px;
	height: 100%;
	background: linear-gradient(to right, #FF105F, #FFAD06);
	border-radius: 30px;
	transition: .5s;
}
.inputGroup{
	top: 180px;
	position: absolute;
	width: 280px;
	transition: .5s;
}
.inputField{
	width: 100%;
	padding: 10px 0;
	margin: 5px;
	border-left: 0;
	border-top: 0;
	border-right: 0;
	border-bottom: 1px solid #000;
	outline: none;
	background: transparent;
}
.submitBtn{
	width: 85%;
	padding: 10px 30px;
	cursor: pointer;
	display: block;
	margin: auto;
	background: linear-gradient(to right, #FF105F, #FFAD06);
	border: 0;
	outline: none;
	border-radius: 30px;
}
.checkBox{
	margin: 30px 10px 30px 0;
}
span{
	color: #777;
	font-size: 12px;
	bottom: 68px;
	position: absolute;
}